.Dash-cont{
    text-align: center;
    justify-content: center;
    align-items: center;

}
.conatiner{
    width: 60%;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 3px grey;
    padding: 16px;
    text-align: center;
    margin-left: 20%;
   

}
.app-container{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* @media  (min-width:500px){
    .conatiner{
        width: 450px;
    }
} */
.App{
    text-align: center;

}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.green{
    color: green;
}
.blue{
    color:blue;
}
